body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #111;
}

.logo {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.contact-btn {
  background-color: #b31d1d;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 10%;
  background: linear-gradient(to right, #0f0f0f, #1b1b1b);
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content p {
  color: #ccc;
  font-size: 16px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.btn-primary {
  background-color: #b31d1d;
  color: white;
}

.btn-secondary {
  background-color: #333;
  color: white;
}

.hero-image img {
  width: 420px;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #888;
  font-size: 14px;
}
